*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}


.row{
    display: flex;
    flex-wrap: wrap;

    
}
.align-center{
    align-items: center;
}

:root{
    --maincolor: #202045;
    --yellowcolor: #d9d91e;
    --primaryfonts:'Ubuntu', sans-serif;
    --secondaryfonts: 'Open Sans', sans-serif;
    --thirdfonts: 'Abril Fatface', cursive;

}


body{
    
font-family: var(--primaryfonts);
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/* common css ends here */

/* headers starts here */
header{
    background-color: var(--maincolor);
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding: 20px 0;
}


header .welcome{
     width: 50%;
}
header .opening{
     width: 50%;
     text-align: right;
}


/* headers ends here */

/* nav starts here */
nav .logo{
    width: 30%;
    
}
nav .menu{
    width: 70%;
    
}
.menu ul{
    text-align: right;
}

.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #222;
    font-weight: 500;
    text-transform: capitalize;
    padding: 40px 20px;
    display: block;
    transition: 0.3s;
}

.menu ul li:hover > a{
    background-color: #ffffff;
    color: var(--yellowcolor);
}


  
.menu .submenu {
    position: absolute;
    width: 150px;
    text-align: center;
    background-color: #eee;
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    transition: 0.3s;
}
  
.menu ul li:hover > .submenu {
    opacity: 1;
    margin-top: 0;
    visibility: visible;
}
.menu ul li a .downarrow{
      transition: 0.3s;
}

.menu ul li:hover a .downarrow {
    transform: rotate(180deg);
    display:inline-block;
}
  
.menu .submenu li {
    display: block;
}

.menu .submenu li a{
    padding: 20px 0; 
    border-bottom: 1px solid #ddd;
}


/* nav ends here */

/* banner starts here */

#banner {
    background-image: url(../image/banner.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}



#banner .success {
    width: 40%;
    padding: 140px 0;
}

#banner .success .upperHeadding {
    font-weight: 400;
    font-size: 50px;
    flood-color: #0f2f44;
}

#banner .success .lowerHeading {
    font-weight: 400;
    font-size: 80px;
    flood-color: #0f2f44;
    font-family: 'Abril Fatface', cursive;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#banner .success a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #8484bf;
    padding: 13px 19px;
    border-radius: 5px;
}


/* banner ends here */